.imagemEstacionamento{
    max-height: 75px;
}
.vagas {
    display: inline-block;
}
.containerInfo{
    margin-bottom: 5rem;
    display: flex;
    padding: 0% 15%;
}

.estacionamentoImagem {
    width: 60%;
}

.estacionamentoInfo {
    width: 40%;
    font-size: 1.25rem;
}

.infoText {
    text-align: justify;
}

.normal, .cheio, .vazio, .vagasEstacionamentoInfo{
    display: inline-block;
}

.vagasEstacionamentoInfo{
    padding-right: 5px;
}

.normal {
    font-weight: bold;
    color: darkorange;
}

.cheio {
    font-weight: bold;
    color: darkred;
}

.vazio {
    font-weight: bold;
    color: green;
}