body{
    text-align: center;
}

.intro-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.header-title {
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
}

.logo-Unicamp{
    margin-right: 1rem;
}

.home-buttons{
    padding-bottom: 10rem;
}

.home-button{
    color: #fff;
    background-color: #f4911d;
    border-color: #f4911d;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.home-button.active, .home-button:hover{
    color: #fff;
    background-color: #CA730D;
    border-color: #CA730E
}